.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.nav__logo--wrapper {
    width: 7rem;
}

.nav__link--list {
    display: flex;
    align-items: center;
    gap: 1rem;
    animation: slideInFromRight var(--animation-duration) ease;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}