.link {
    text-decoration: none;
    position: relative;
}
.link:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    left: 0;
    transition: all var(--transition-duration) ease;
}

.link__hover-effect:hover::after {
    left: 0;
    width: 100%;
}

.link__hover-effect--secondary:after {
    background-color: var(--secondary-color);
}

.link__hover-effect--primary:after {
    background-color: var(--primary-color);
}