.title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.loader__container {
    justify-content: center;
}

.movie__search-results {
    min-height: 60vh;
}

.movie__search-header,
.movie__search-results {
    padding: 1rem 2rem;
}

.movie__search-results--message {
    text-align: center;
}

.movie__list {
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    overflow-y: auto;
    margin: 2rem 0;
}

.movie__wrapper {
    width: 25%;
    transition: all var(--transition-duration) ease;
}

@media (max-width: 992px) {
    .movie__wrapper {
        width: calc(100% / 3);
    }
}

@media (max-width: 768px) {
    .movie__wrapper {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 7vw;
    }

    .movie__wrapper {
        width: 100%;
    }

    .movie__filter {
        flex-direction: column;
        gap: 1rem;
    }
}