footer {
    background-color: var(--primary-color);
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.footer__img--wrapper {
    width: 8rem;
    margin-bottom: 1rem;
}
.footer__img {
    filter: brightness(0) invert(1);
}

.footer__link--list {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.footer__divider {
    height: 1px;
    background-color: var(--primary-color);
    margin: 2rem 0;
    opacity: 0.25;
    width: 100%;
}