.title {
    font-size: 3rem;
    font-weight: bold;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.hero__header, .hero__img--wrapper {
    padding: 0 2rem;
}

.hero__img--wrapper {
    margin: 0 auto;
    margin-top: 8rem;
    max-width: 45rem;
    width: 100%;
}

@media (max-width: 768px) {
    .title {
        font-size: 6vw;
    }

    .subtitle {
        font-size: 4vw;
    }
}